.home{
    
    h1{
        color: $text-color;
        font-size: 40px;
    }
    .featured-posts-container{
        padding: 4em 0 0;
        display: flex;

    }

   
}

@media screen and (max-width : 900px){
    .home{
        h1{
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container{
            flex-direction: column;
        }
    }
}

.ending{
    position: absolute;

    text-align: center;
    font-family: 'Staatliches', cursive;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    a{
    font-size: 170px;
    padding-left: 50px;
    letter-spacing: 80px;
    color:#ecf0f1;
    }
.footerend  {
    width: 100%;
    align-items:center;
    font-size: 12px;
    position: relative;
    font-family: 'Helvetica', sans-serif;
    text-align: justify;
    padding-right: 50px;
    text-align: center;
    .social-container{
        position: absolute;
    }
   h2{
       position: absolute;
       font-weight: bold;
       color: black;
       padding-left: 900px;
       padding-top: 40px;
       font-size: 20px;
   }
   .p1{
       position: absolute;
       padding-left: 800px;
       padding-top: 85px;
       font-size: 15px;

   }
   .p2{
    position: absolute;
    padding-left: 650px;
    padding-top: 220px;
    color: #bdc3c7;
       
   }

    .copyright{
    left:570px;
    position: absolute;
    padding-top: 70px;
    
    }

}}