.home{
    
    h1{
        color: $text-color;
        font-size: 40px;
    }
    .featured-posts-container{
        padding: 4em 0 0;
        display: flex;

    }

   
}

@media screen and (max-width : 900px){
    .home{
        h1{
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
        }

        .featured-posts-container{
            flex-direction: column;
        }
    }
}

.ending{
    position: absolute;
    top:130em;
    text-align: center;
    font-family: 'Staatliches', cursive;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;

    @media only screen and (max-width: 800px){
      top:265em;
    }
    a{
    font-size: 12vw;
    padding-left: 0.5em;
    color:#ecf0f1;
    }
}