@import url(./_font.scss);

.check-it-out-tile {
    background-color: #920d311c;
    width: 20%;
    height: 20vw;
    display: inline-block;
    padding: 2%;
    justify-content: center;
    margin: 1%;
    border-radius: 5px;
    font-family: "Montserrat";


    .check-button {
        background-color: #be103f;
        padding: 10px 20px;
        margin: 0 auto;
        text-align: center;
    }

    .check-button:hover {
        background-color: #961235;
    }


}