@import "/_font.scss";

img {
    width:100%;
    margin:0;
    padding:0;
}

.title {
  padding: 1%;
  padding-top: 2%;
  font-family: "TopSecret";
  font-size: 3.5vw;
  color: black;
}

iframe{
  width: 80%;
  height: 500px;
  margin:0;
  padding:0;
}

.theme-reveal{
  text-align: center;
  margin: auto;
}

.hotspots-map {
  text-align: center;
  margin: auto;
}

.homePage{
  margin-top: 75px;
  height: 100%;
}

.genInfo {
  width: 80%;
  height: 36.6vw;
  text-align: center;
  margin: auto;
  background-image: url('../images/card-background.svg');
  background-size: contain;

  .paragraph{
    font-size: 1.45vw;
    max-width: 90%;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.registration-button{
  background-color: #be103f;
  text-align: center;
  font-family: 'TopSecret';
  font-size: 3vw;
  color: white;
  border-style: solid;
  border-color: #be103f;
  padding: 5px 20px;
}

.registration-button:hover{
  background-color: #961235;
  border-color: #961235;
  cursor: pointer;
}

.checkouttiles {
  display: flex;
  justify-content: center;
  width: 90%;
}