.site-navigation{
    height: 100px;
    width: 100%; 
    //max-width: 1024px;
    background: #FEFFFF ;
    color: $text-color;
    margin: 0 auto;
    overflow-x: auto;

    .menu-title{
        margin-left: 30px;

    }

 

    ul{
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top:10px;
       
        
        

        a {
            text-decoration: none;
            font-size: 35px;
            color: $text-color;
            font-family: 'Poppins', sans-serif;
            padding-left: 70px;
            padding-right: 70px;
           

            &:hover {
                color:$text-link;
            }
        }
    }
}