@import url('./_font.scss');

* {
	margin: 0;

	box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide-small2 {
  display: block
}
.show-small2 {
  display: none
}
@media screen and (max-width: 725px) {
  .hide-small2 {
      display: none!important;
  }
  .show-small2 {
      display: block!important;
      font-size: 3vw;
      padding-left: 0;
  }
}


.resources-title {

	font-size: 45px;
	font-weight: 300;
	font-family: 'TopSecret';
	text-align: center;
	color: rgb(90, 90, 90);
	padding: 2vh;
	margin: 0;
	
}

.resources {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding-top: 95px;
  padding-bottom: 15px;
}



	
