/* resets */
body { margin:0px; padding-top:70px; }

/* main */

.header-banner {


    background-image: url(../images/header_welcome.png);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin:50px;
    padding-right: 50px;
    text-align: center;
}

header h1 {

    color: black;
    padding: 0 1rem;
    position: absolute;
   top: 430px;
    left: 420px;
    font-family: 'Staatliches';
    opacity: 40%;
    font-size: 40px;
    
}





.visible-title {
    visibility: visible;
}



/* demo content */
body { 
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
    align-items: center;
    
}
.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}
article {
    float: left;
    width: 720px;
}
article p:first-of-type {
    margin-top: 0;
}
aside {
    float: right;
    width: 120px;
}
p img {
    max-width: 100%;
}

@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    aside {  
        float: none;
        text-align: center;
        width: 100%;
    }
}
